snippet block "add a request block"
  ###
  $1

snippet get "add a get request"
  ### $1
  GET $2


snippet post "add a post request"
  ### $1
  POST $2

snippet get "add a get request"
  ### $1
  GET $2
