priority -60

snippet tern ".term-project template" b
//vim: set ft=json
//.tern-project
\{
	"libs": [
		"browser",
		"jquery"
	],
	"loadEagerly": [
		"importantfile.js"
	],
	"plugins": \{
		"node" : \{ \},
		"node_resolve": \{\},
		"requirejs": \{
			"baseURL": ".\/",
			"paths": \{}
		}
	}
}
endsnippet
