snippet proj "vim comment for set filetype" b
cmake_minimum_required(VERSION 3.9 FATAL_ERROR)
project(myproject)

# vim: ft=cmake
endsnippet

snippet option "cmake option definition" b
option( USE_SYSTEM_BOOST "Set to ON to use the system boost libraries" OFF )
endsnippet
