snippet popup "popup dialog" b
<div class="popupDiv">
	<div class="mask"></div>
	<div class="popupDiv_c">
		<div class="tit">
			<span class="floatL">添加大题</span><span class="closeBtn">&times;</span>
		</div>
		<div class="popupDiv_c_c" >
		<!-- content -->

		</div>
		<div class="fot text-right">
			<a class="btnBlue submit">确定</a>
			<a class="btnGray ml10 closeBtn">取消</a>
		</div>
	</div>
</div>

endsnippet
