snippet table "add table" b
| 字段         | 说明                                                     |
|--------------|----------------------------------------------------------|
| $1           | $2                                                       |
endsnippet

snippet linktext "Link with text"
[${1:Text}](${VISUAL:URL})$0
endsnippet
