snippet table "add table" b

| 字段         | 说明                                                     |
|--------------|----------------------------------------------------------|
| $1           | $2                                                       |

endsnippet
