# gloabl snippets

snippet date
  `strftime("%Y-%m-%d")`
snippet ddate
  `strftime("%B %d, %Y")`

snippet ansible add ansible modeline
	# vim:set et sw=2 ts=2 ft=yaml.ansible:

snippet modeline add vim modeline
	# vim:set et sw=1 ts=2:




# vim:set ft=snippets noet:
